body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(13, 17, 23);
    margin: 0;
    gap: 100px;
    padding: 20%;
}
h1{
    color: rgb(195, 208, 229);
}
h3{
    color: rgb(195, 208, 229);
}
img{
    width: 640px;
    height: 360px;
}

